.saved-cards__list {
  margin: 62px 102px 62px 102px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 16px 16px;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .saved-cards__list {
    margin: 32px 40px 32px 40px;

    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 8px 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .saved-cards__list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 16px 15px 16px;
  }
}