.signup__header {
  width: 315px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #000000;

  margin: 0;
  margin-bottom: 14px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .signup__header {
    width: 80%;
    font-size: 20px;
  }
}