.result__header {
  width: 356px;
  margin: 40px 0px 16px 0px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;

  text-align: center;

  color: #1A1B22;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .result__header {
    margin-top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .result__header {
    font-size: 20px;
    margin-bottom: 8px;
  }
}