.popup__text-parol {
  max-width: 139px;
  margin-top: 33px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #2F71E5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__text-parol {
    margin-top: 30px;
  }
}