@import url(/blocks/header/__autorization/header__autorization.css);
@import url(/blocks/header/__explorer/header__explorer.css);
@import url(/blocks/header/__main/header__main.css);
@import url(/blocks/header/__rectangle/header__rectangle.css);
@import url(/blocks/header/__main/_active/header__main_active.css);
@import url(/blocks/header/__nav/header__nav.css);
@import url(/blocks/header/__saved/header__saved.css);
@import url(/blocks/header/__greta-img/header__greta-img.css);
@import url(/blocks/header/__greta-link/header__greta-link.css);
@import url(/blocks/header/__greta/header__greta.css);
.header {
  max-width: 1440px;
  height: 80px;

  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);

  display: flex;
  justify-content: space-between;

  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}