.search__image {
  height: 536px;
  width: 100vw;
  object-fit: cover;

  position: absolute;
  left: 0px;
  top: 0px;

  z-index: -1;
}

@media screen and (min-width: 1023px) {
  .search__image {
    height: 546px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search__image {
    height: 500px;
  }
}