.footer__text {
  position: absolute;
  top: 32px;
  left: 104px;
  margin: 0px;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;

  color: #b6bcbf;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__text {
    top: 24px;
    left: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__text {
    bottom: 20px;
    right: 16px;
    top: unset;
    left: unset;
    width: 288px;
  }
}