.footer__main {
  position: absolute;
  top: 30px;
  right: 408px;

  width: 112px;

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}